<link rel="stylesheet" type="text/css" href="style.css" media="screen">
table.table-bordered{
  border:1px solid black;
  margin-top:10px;
}
table.table-bordered > thead > tr > th{
border:1px solid black;
}
table.table-bordered > tbody > tr > td{
border:1px solid black;
}