h2 {
  font-weight: 900
}
h3 {
  font-weight: 900
}
h4 {
  font-weight: 900
}
table{
  border: black solid 5px !important
}
table thead th{
  border-top: black solid 5px !important;
  border-bottom: black solid 5px !important;
  border-left: black solid 5px !important;
  border-right:  black solid 5px !important
}
table td{
  border-left: black solid 5px !important;
  border-right:  black solid 5px !important;
  border-top: black solid 5px !important
}